:root {
    --color-roxa: #8A8DB1;
    --color-branca: #FFFFFF;
    --color-verde-clara: #8AB19F;
    --color-amarela: #EFD473;
    --color-verde: #548479;
    --color-vermelha: #EB676E;
    --color-amarelo-esverdiado: #C3CA5D;

  }

@font-face {
    font-family: "Sketch Block";
    src: url("/src/js/fonts/Sketch_Block.ttf");
    font-family: "Made With";
    src: url("/src/js/fonts/MadeWithB.ttf");
    font-family: "Pencil Pete";
    src: url("/src/js/fonts/PPETRIAL.ttf");
}

html, body{
    background-color: black;
    height: 100%;
    width: 100%;
}

.w-85 {
    width: 85% !important
}

.mainMenuBackGroud{
    background-image: url('/src/js/img/main/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.mainMenuRegras{
    position: relative;
    margin: 10%;
    top: 30%;
    font-family: 'Pencil Pete';
    color: var(--color-branca);
    font-size: 1.3vw;
    text-align: center;
}

.mainMenuBtnJogar{
    position: relative;
    top: 75vh;
    margin-left: -20%;
    background-image: url('/src/js/img/main/botao.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 140%;
    height: 5.5%;
}

.mainMenuCardJogador{
    position: relative;
    top: 45%;
    background-image: url('/src/js/img/main/quadro_jogador.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 28%;
}

.mainMenuFontJogador{
    font-family: 'Indie Flower', cursive;
    color: var(--color-amarela);
    font-size: 1.2vw;
    text-align: left;
    margin-left: 15%;
    margin-top: 5%;
}

.mainMenuInputJogador{
    position: relative;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 5%;
    background-image: url('/src/js/img/main/input_text.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 15%;
}

.mainMenuInput{
    font-family: 'Indie Flower', cursive;
    background-color: black;
    color: var(--color-amarela);
    margin-left: 5%;
    margin-top: 6px;
    border: 0px;
    height: 72.5%;
    width: 70%;
}

.mainMenuCardScore{
    font-family: 'Sketch Block';
    font-size: 5vw;
    color: var(--color-amarela);
    text-align: right;
    position: relative;
    top: 45%;
    width: 100%;
    height: 28%;
}

.mainMenuTitleScore{
    text-align: center;
    font-family: 'Pencil Pete';
    color: var(--color-verde);
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.mainMenuBtnMin{
    position: relative;
    margin: auto;
    margin-bottom: 2px;
    background-image: url('/src/js/img/main/remove.png');
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 90%;
}

.mainMenuBtnPlus{
    position: relative;
    margin: auto;
    margin-bottom: 2px;
    background-image: url('/src/js/img/main/pluss.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 90%;
}

.fonteEspecial{
    font-family: 'Pencil Pete';
    color: var(--color-branca);
    font-size: 1.5vw;
    text-align: center;
}

.fontePlayers{
    font-family: 'Sketch Block';
    font-size: 50px;
    color: #EFD473;
    text-align: center;
    position: fixed;
    left: 77%;
    width: 175px;
    height: 78px;
}

.Players-Frist{
    top: 33%;
}

.Players-Second{
    top: 50%;
}

.fontePlacar{
    font-family: 'Sketch Block';
    font-size: 50px;
    color: #EFD473;
    text-align: center;
    position: fixed;
    top: 68%;
    width: 175px;
    height: 78px;
}

.Placar-Frist{
    left: 84%;
}

.Placar-Second{
    left: 71.5%;
}

.boardGame{
    background-image: url('/src/js/img/board.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
}

.btnSair{
    position: fixed;
    top: 84.5%;
    left: 79%;
    background-image: url('/src/js/img/btn-exit.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 175px;
    height: 78px;
}

.gridGame{
    position: relative;
    background-image: url('/src/js/img/grid.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10%;
    margin-left: 15%;
    height: 65%;
    width: 40%;
}

.fill{
    
}

