:root {
  --color-roxa: #8a8db1;
  --color-branca: #ffffff;
  --color-verde-clara: #8ab19f;
  --color-amarela: #efd473;
  --color-verde: #548479;
  --color-vermelha: #eb676e;
  --color-amarelo-esverdiado: #c3ca5d;
}

@font-face {
  font-family: "Sketch Block";
  src: url("../fonts/Sketch_Block.ttf");

  font-family: "Made With";
  src: url("../fonts/MadeWithB.ttf");

  font-family: "Sleep on the moon";
  src: url("../fonts/SleepOnTheMoon.ttf");

  font-family: "Pencil Pete";
  src: url("../fonts/PPETRIAL.ttf");
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.w-85 {
  width: 85% !important;
}

.h-65 {
  height: 65% !important;
}

.h-33 {
  height: 33% !important;
}

.HiddenDiv {
  opacity: 0;
  transition: opacity 0.5s linear, display 0.5s linear;
}

.ShowDiv {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
  transition: opacity 1.5s linear, display 1.5s linear;
}

.mainMenuBackGroud {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.skin-black {
  background-image: url("../img/main/background.png") !important;
}

.skin-red {
  background-image: url("../img/main/backgroundRed.jpg") !important;
}

.skin-green {
  background-image: url("../img/main/backgroundGreen.jpg") !important;
}

.mainMenuRegras {
  position: relative;
  margin: 10%;
  top: 30%;
  font-family: "Pencil Pete";
  color: var(--color-branca);
  font-size: 1.3vw;
  text-align: center;
}

.mainMenuBtnJogar {
  position: relative;
  top: 75vh;
  margin-left: -20%;
  background-image: url("../img/main/botao.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 140%;
  height: 5.5%;
}

.mainMenuSelectJogadores {
  position: relative;
  top: 32.5%;
  margin-left: auto;
  margin-right: auto;
}

.mainMenuBtnSelectJogadores {
  position: relative;
  text-align: center;
  font-family: "Pencil Pete";
  color: var(--color-amarela);
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.mainMenuBtnSelectJogadores:hover {
  color: var(--color-vermelha) !important;
}

.mainMenuSelectedJogadores {
  background-image: url("../img/main/selected.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 1.5vh;
}

.mainMenuCardJogador {
  position: relative;
  top: 37.5%;
  width: 100%;
  height: 28%;
}

.mainMenuFontJogador {
  font-family: "Indie Flower", cursive;
  color: var(--color-amarela);
  font-size: 1.2vw;
  text-align: left;
  margin-left: 15%;
  margin-top: 5%;
}

.mainMenuInputJogador {
  position: relative;
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 5%;
  background-image: url("../img/main/input_text.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 25%;
}

.mainMenuInput {
  font-family: "Indie Flower", cursive;
  background-color: transparent;
  color: var(--color-branca);
  margin-left: 2.5%;
  margin-top: 6px;
  border: 0px;
  height: 85%;
  width: 85%;
}

.mainMenuCardScore {
  font-family: "Sketch Block";
  font-size: 5vw;
  color: var(--color-amarela);
  text-align: right;
  position: relative;
  top: 45%;
  width: 100%;
  height: 28%;
}

.mainMenuTitleScore {
  text-align: center;
  font-family: "Pencil Pete";
  color: var(--color-verde);
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.mainMenuBtnMin {
  position: relative;
  margin: auto;
  margin-bottom: 2px;
  background-image: url("../img/main/remove.png");
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 90%;
}

.mainMenuBtnPlus {
  position: relative;
  margin: auto;
  margin-bottom: 2px;
  background-image: url("../img/main/pluss.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 90%;
}

.GameMark {
  font-family: "Pencil Pete";
  color: var(--color-branca);
  font-size: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.NamePlayers {
  font-family: "Sketch Block";
  font-size: 2.5vw;
  color: var(--color-amarela);
  text-align: center;
  position: relative;
}

.NamePlayers-Frist {
  top: 35vh;
}

.NamePlayers-Second {
  top: 42.5vh;
}

.LabelScore {
  font-family: "Sketch Block";
  font-size: 6vh;
  color: var(--color-amarela);
  text-align: center;
  position: relative;
  top: 50vh;
}

.FlagScorePoss {
  position: relative;
  top: 48vh;
}

.FlagScore {
  height: 8vh;
  background-image: url("../img/game/flag.png");
  background-size: 36%;
  background-repeat: no-repeat;
  background-position: top;
}

.boardGame {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.boardGame-black {
  background-image: url("../img/game/Board-BackGround.png");
}

.boardGame-red {
  background-image: url("../img/game/Board-BackGroundRed.jpg");
}

.boardGame-green {
  background-image: url("../img/game/Board-BackGroundGrenn.jpg");
}

.cardBtnSair {
  position: relative;
  width: 100%;
  top: 50vh;
  text-align: center;
  align-items: center;
}

.btnSair {
  margin: auto;
  background-image: url("../img/btn-exit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 8.5vw;
  height: 7vh;
}

.btnReset {
  margin: auto;
  background-image: url("../img/game/reset.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 6vw;
  height: 5vw;
  position: relative;
  top: 75%;
}

.gridGame {
  position: relative;
  background-image: url("../img/game/grid.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.winCard {
  background-image: url("../img/win/card.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 66vh;
  width: 54vh;
  border-radius: 15px;
  border: 1px;
  border-color: black;
}

.winCardTitle {
  font-family: "Sketch Block";
  font-size: 3vw;
  color: var(--color-amarela);
  text-align: center;
  position: relative;
  top: 8%;
}

.winCardPlayers {
  font-family: "Sketch Block";
  font-size: 3vw;
  color: var(--color-verde);
  text-align: left;
  position: relative;
  top: 29%;
  left: 25%;
}

.winCardBtnBack {
  text-align: center;
  position: relative;
  top: 30%;
}

.btnBack {
  margin: auto;
  background-image: url("../img/win/exit.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 9vw;
  height: 6vh;
}

.change-skins {
  height: 77px;
  width: 93px;
  background-image: url(../img/main/skins.png);
}
